{% spaceless %}
<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta charset="UTF-8">
    <title>{{ page.pageTitle }}</title>
    <link rel="stylesheet" href="{{ page.root }}public/style.css">
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ page.root }}">{{ page.siteTitle }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    {% for item in page.menu %}
                        {% if item.menu %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">{{ item.name }}</a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ page.root }}{{ item.link }}"> {{ item.name }}</a>
                                    {% for subitem in item.menu %}
                                        <li><a class="dropdown-item" href="{{ page.root }}{{ subitem.link }}"> {{ subitem.name }}</a>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ page.root }}{{ item.link }}"> {{ item.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        <h1 class="text-center">{{ page.pageTitle }}</h1>
        {% block main %}
            <p>{{ page.text }}</p>
        {% endblock %}
    </main>
    <footer class="container text-muted">
        {% if page.copyright %}
            <p class="text-center">© {{ page.copyright }}</p>
        {% endif %}
    </footer>
    {% block scripts %}
        <script src="{{ page.root }}public/jquery.min.js"></script>
        <script src="{{ page.root }}public/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
{% endspaceless %}

<!-- Generated {{ "now"|date('d.m.Y H:i:s') }} -->
