{% extends "default.html.twig" %}

{% block main %}
    {% if files and files|length > 0 %}
        <div id="carouselSlideShow" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for file in files %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        {% if file.type starts with 'image' %}
                            <img class="d-block w-100" src="{{ file.src }}" alt="{{ file.caption }}">
                        {% elseif file.type starts with 'video' %}
                            <video class="d-block w-100" controls>
                                <source src="{{ file.src }}" type="{{ file.type }}">
                            </video>
                        {% endif %}

                        {% if file.caption or file.date %}
                            <div class="carousel-caption">
                                {% if file.caption %}
                                    <p>{{ file.caption }}</p>
                                {% endif %}
                                {% if file.date %}
                                    <p>{{ file.date|date('d.m.Y H:i') }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselSlideShow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselSlideShow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% else %}
        <ul>
            {% for item in menu %}
                <li class="nav-item"><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
